In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_c = pd.read_csv('./data/challengers/atp_matches_qual_chall_1978.csv')
df_a = pd.read_csv('./data/atp/atp_matches_1978.csv')
df_p = pd.read_csv('./data/atp_players.csv')

In [3]:
df_c['winner_name'].head()

0    Christopher Sylvan
1          Garry Slater
2         Dave Simmonds
3         David Mustard
4            Jay Harvey
Name: winner_name, dtype: object

In [4]:
df_c.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [8]:
df_c.shape

(1008, 49)

In [7]:
df_c[df_c['tourney_level'] == 'C']

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1978-301,Auckland CH,Hard,32,C,19780108,270,100373,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,232.0,NaN,NaN,NaN
1,1978-301,Auckland CH,Hard,32,C,19780108,271,109807,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1978-301,Auckland CH,Hard,32,C,19780108,272,109810,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1978-301,Auckland CH,Hard,32,C,19780108,273,100638,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332.0,NaN
4,1978-301,Auckland CH,Hard,32,C,19780108,274,107301,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,1978-266,Kyoto CH,Clay,32,C,19781119,296,100109,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,1978-266,Kyoto CH,Clay,32,C,19781119,297,100257,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88.0,NaN,NaN,NaN
1005,1978-266,Kyoto CH,Clay,32,C,19781119,298,100109,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,1978-266,Kyoto CH,Clay,32,C,19781119,299,100257,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88.0,NaN,NaN,NaN
1007,1978-266,Kyoto CH,Clay,32,C,19781119,300,100257,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88.0,NaN,NaN,NaN

In [6]:
df_c1 = df_c[['tourney_id', 'tourney_name', 'surface', 'tourney_level', 'winner_id', 'loser_id']]

In [7]:
df_c['tourney_id'].unique(), len(df_c['tourney_id'].unique())

(array(['1978-301', '1978-489', '1978-672', '1978-712', '1978-673',
        '1978-371', '1978-724', '1978-674', '1978-676', '1978-671',
        '1978-7311', '1978-675', '1978-669', '1978-668', '1978-677',
        '1978-330', '1978-678', '1978-266'], dtype=object),
 18)

In [8]:
df_c['tourney_name'].unique(), len(df_c['tourney_name'].unique())

(array(['Auckland CH', 'Hobart CH', 'Shreveport CH', 'Birmingham CH',
        'Asheville CH', 'Raleigh CH', 'Hilton Head CH',
        'Virginia Beach CH', 'Wall CH', 'Cape Cod CH', 'Lancaster CH',
        'Tinton Falls CH', 'Lincoln CH', 'Salt Lake City CH',
        'San Ramon CH', 'Tel Aviv CH', 'Pasadena CH', 'Kyoto CH'],
       dtype=object),
 18)

In [21]:
df_c['winner_name'].unique(), len(df_c['winner_name'].unique())

(array(['Christopher Sylvan', 'Garry Slater', 'Dave Simmonds',
        'David Mustard', 'Jay Harvey', 'Bob Giltinan', 'Rod Frawley',
        'Dale Collings', 'Robin Drysdale', 'Bill Lloyd', 'Onny Parun',
        'Russell Simpson', 'Eric Fromm', 'Eliot Teltscher', 'Chris Lewis',
        'Karl Meiler', 'David Whyte', 'Ray Kelly', 'Noel Jensen',
        'Lawrence Hall', 'Stevenson Clarke', 'Peter Campbell', 'Syd Ball',
        'Mal Anderson', 'Terry Rocavert', 'Peter Mcnamara',
        'Bob Carmichael', 'John Marks', 'Charlie Fancutt', 'Chris Kachel',
        'Allan Stone', 'David Carter', 'Joao Soares', 'Mike Sassano',
        'Javier Restrepo', 'Walter Redondo', 'Pascal Portes',
        'Noel Phillips', 'Juan Nunez', 'Gonzalo Nunez', 'Gilles Moretton',
        'Richard Meyer', 'Geoff Martinez', 'John Joyce', 'Max Hurlimann',
        'Roger Guedes', 'Brad Coleman', 'Tim Clements', 'Rejean Genois',
        'Ferdi Taygan', 'Francisco Gonzalez', 'Ramiro Benavides',
        'Eric Friedler', 'Dick R Bohrnstedt', 'Alvin Gardiner',
        'Willem Prinsloo', 'Warren Maher', 'Mike Cahill', 'John Sadri',
        'Keith Richardson', 'Marcello Lara', 'Deon Joubert', 'Tim Vann',
        'Gerard Toulon', 'Brad Rowe', 'Charles Owens', 'Guillermo Oropez',
        'Bhanu Nunna', 'Bill Maze', 'Chris Mayotte', 'John Chris Lewis',
        'Erick Iskersky', 'Larry Gottfried', 'Woody Blocher',
        'Robert Vant Hof', 'George Taylor', 'Regis Brunet',
        'Alvaro Betancur', 'Christophe Freyss', 'Cary Stansbury',
        'U Unknown', 'Denis Naegelen', 'Joe Meyers', 'Jay Lapidus',
        'Hubertus Hoyt', 'John Holladay', 'Greg Braun', 'Butch Seewagen',
        'Bernard Fritz', 'Gene Hamilton', 'Ian Fletcher',
        'David Schneider', 'Peter Rennert', 'Tony Graham', 'Kevin Curren',
        'Bruce Manson', 'Pat Dupre', 'Robbie Smith', 'Grover Raz Reid',
        'Raymond Pascale', 'Tim Mayotte', 'Sammy Martin', 'Ali Madani',
        'Carlos Lopez', 'Carlos Gomez', 'Tim Garcia', 'Ricardo Acuna',
        'Charles Buzz Strode', 'Mike Shore', 'Gordon Jones',
        'Bruce Foxworth', 'John Hayes', 'Howard Schoenfield',
        'Haroon Ismail', 'Jai Dilouie', 'Paul Kronk', 'Fernando Maynetto',
        'Joel Ross', 'Bruno Renoult', 'Mike Myburg', 'Harry Fritz',
        'Joel Bailey', 'Trey Waltke', 'Johan Kriek', 'Shigeyuki Nishio',
        'Tom Mott', 'Matt Mitchell', 'Gene Stuart Malin',
        'Michael Greenberg', 'Jan Bortner', 'P Krajcik', 'Van Winitsky',
        'Chris Dunk', 'Jerry Van Linge', 'Jeffrey Papell', 'John Geraghty',
        'Toby Crabel', 'George Amaya', 'Jonathan Smith', 'Sam Vuille',
        'Horace Reid', 'Peter Pearson', 'Ian Harris', 'Keith Hancock',
        'John Molin', 'John Feaver', 'John Austin', 'Erik Van Dillen',
        'John James', 'David Sherbeck', 'Rocky Maguire', 'Bruce Kleege',
        'Humphrey Hose', 'Tony Giammalva', 'Joe Garcia', 'Randy Crawford',
        'Jay Royappa', 'Richard Legendre', 'John Yuill', 'Rick Fagel',
        'Sashi Menon', 'John Trickey', 'Filip Krajcik', 'Stewart Keller',
        'Rand Evett', 'Jeremy Cohen', 'Scott Carnahan', 'John Bartlett',
        'Charlie Pasarell', 'Steve Denton', 'Brad Drewett',
        'Jurgen Fassbender', 'John Whitlinger', 'Mark Turpin',
        'Sean Sorensen', 'Jeff Robbins', 'John Paish', 'Guy Fritz',
        'Warren Eber', 'Kent Crawford', 'Mike Machette', 'Rick Fisher',
        'Herve Gauvain', 'Tom Cain', 'Steve Docherty', 'Michael Wayman',
        'Vincent Van Patten', 'Doug King', 'Mark Hardy', 'Junie Chatman',
        'Eddie Edwards', 'Andy Lucchesi', 'Tim Wilkison', 'Marty Riessen',
        'Cliff Letcher', 'Ted Williams', 'Thierry Stevaux',
        'Steve Krulevitz', 'Andrew Jarrett', 'Shlomo Glickstein',
        'Victor Eke', 'Mike Fishbach', 'Richard Lewis', 'Peter Feigl',
        'Tom Okker', 'Leo Palin', 'Jim Harper', 'Billy Martin',
        'Jorge Andrew', 'Chris Gunning', 'M Uetsuji', 'Nobuya Tamura',
        'Shinichi Sakamoto', 'Ryoichi Mori', 'Tetsu Kuramitsu',
        'Asher Kahn', 'Dick Dell', 'Jun Kamiwazumi', 'Tsuyoshi Fukui',
        'Sachio Kato', 'Jun Kuki', 'Ross Case'], dtype=object),
 222)

In [12]:
df_c['winner_id'].unique(), len(df_c['winner_id'].unique())

(array([100373, 109807, 109810, 100638, 107301, 100178, 100285, 100407,
        100287, 100180, 100135, 100326, 100546, 100586, 100474, 100179,
        202680, 108053, 107867, 107557, 100735, 100224, 100201, 100017,
        100397, 100383, 100047, 100293, 100605, 100382, 100105, 100430,
        100240, 107814, 107298, 108494, 100600, 100207, 100447, 100341,
        100525, 100392, 100418, 204554, 100248, 100318, 106647, 108398,
        100294, 100456, 100402, 100155, 100344, 100208, 100227, 100327,
        100464, 100279, 100446, 100313, 100147, 100545, 108401, 100348,
        106651, 100216, 100131, 100357, 100416, 100499, 107379, 100523,
        100634, 100250, 100592, 100209, 100435, 100198, 100443, 100564,
        199999, 100268, 107357, 100597, 100400, 202513, 107132, 100117,
        100314, 107071, 100169, 100378, 100574, 100451, 100529, 100422,
        100345, 108101, 100251, 108054, 100689, 108204, 106505, 106703,
        106700, 100410, 100518, 100496, 100465, 107118, 100448, 100375,
        100506, 100368, 100557, 100346, 100405, 107362, 106674, 100310,
        109871, 100241, 100372, 100532, 100333, 108418, 100475, 100166,
        100381, 209001, 204561, 100585, 100522, 107334, 203031, 107384,
        108405, 100202, 100364, 100340, 100389, 100388, 100291, 107488,
        107390, 100266, 130938, 100231, 100236, 100404, 100399, 100353,
        100136, 100535, 100269, 100409, 107302, 100295, 100171, 100319,
        100281, 107398, 100385, 108327, 100328, 107328, 100316, 100158,
        100081, 100445, 100551, 100161, 100324, 202519, 100401, 100583,
        100045, 107157, 100424, 100192, 100226, 100238, 100369, 100562,
        100210, 100306, 100502, 106897, 107690, 100425, 100440, 106550,
        100631, 100060, 100265, 108357, 108377, 100243, 100516, 100515,
        100355, 100358, 100359, 100259, 100084, 100450, 209005, 100461,
        100258, 100296, 204550, 107864, 108253, 100042, 108368, 106591,
        100145, 100146, 100485, 108192, 100109, 100257], dtype=int64),
 222)

In [23]:
df_a

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1978-1506,Birmingham WCT,Carpet,32,A,19780109,1,100437,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,14.0,NaN
1,1978-1506,Birmingham WCT,Carpet,32,A,19780109,2,100055,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,68.0,NaN
2,1978-1506,Birmingham WCT,Carpet,32,A,19780109,3,100436,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,44.0,NaN
3,1978-1506,Birmingham WCT,Carpet,32,A,19780109,4,100255,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,20.0,NaN
4,1978-1506,Birmingham WCT,Carpet,32,A,19780109,5,100342,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,26.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,1978-D050,Davis Cup WG SF: SWE vs USA,Carpet,4,D,19781006,5,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3895,1978-D051,Davis Cup EUR QF: YUG vs SWE,Clay,4,D,19780613,1,100141,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN,45.0,NaN
3896,1978-D051,Davis Cup EUR QF: YUG vs SWE,Clay,4,D,19780613,2,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
3897,1978-D051,Davis Cup EUR QF: YUG vs SWE,Clay,4,D,19780613,4,108580,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898,1978-D051,Davis Cup EUR QF: YUG vs SWE,Clay,4,D,19780613,5,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,41.0,NaN

In [17]:
df_a.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [53]:
df_a.columns == df_c.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [15]:
df_a['tourney_name'].unique(), len(df_a['tourney_name'].unique())

(array(['Birmingham WCT', 'Pepsi Grand Slam', 'Lagos', 'Cairo',
        'Johannesburg', 'Tokyo Outdoor', 'Berlin', 'Guadalajara',
        'Mexico City', 'Buenos Aires', 'Nice', 'Munich', 'Madrid',
        'Florence', "Queen's Club", 'Bologna', 'Gstaad', 'Newport',
        'Bastad', 'Hilversum', 'Kitzbuhel', 'Cleveland',
        'Stuttgart Outdoor', 'Maui', 'Brisbane', 'Basel', 'Tokyo',
        'Cologne', 'Taipei', 'Hong Kong', 'Vienna', 'Sydney Outdoor',
        'Aix en Provence', 'Colombus', 'Bournemouth', 'Stowe',
        'Paris Indoor', 'San Jose', 'Bogota', 'Santiago', 'Manila',
        'Denver', 'WCT Challenge Cup', 'Philadelphia WCT', 'Memphis',
        'Palm Springs', 'Houston WCT', 'Brussels', 'Rotterdam WTC',
        'Milan WCT', 'Monte Carlo WCT', 'Atlanta', 'Las Vegas', 'Hamburg',
        'Forest Hills WCT', 'Rome', 'Boston', 'Washington', 'Indianapolis',
        'Montreal / Toronto', 'Cincinnati', 'Los Angeles', 'San Francisco',
        'Barcelona', 'Sydney Indoor', 'Tokyo Indoor', 'Stockholm',
        'Wembley', 'Roland Garros', 'Wimbledon', 'US Open',
        'Australian Open', 'Masters', 'Dallas WCT', 'Nations Cup',
        'St. Louis WCT', 'Little Rock', 'Louisville', 'Calcutta', 'Miami',
        'Springfield', 'North Conway', 'South Orange', 'Sarasota',
        'Washington Indoor', 'Tulsa', 'New Orleans', 'Dayton',
        'Birmingham', 'Richmond WCT', 'Mexico City WCT', 'Baltimore',
        'Hartford', 'Davis Cup SAM SF: ARG vs BRA',
        'Davis Cup SAM F: CHI vs ARG', 'Davis Cup SAM PR: ECU vs ARG',
        'Davis Cup WG SF: GBR vs AUS', 'Davis Cup AME SF: JPN vs AUS',
        'Davis Cup EUR F: AUS vs NZL', 'Davis Cup EUR QF: GBR vs AUT',
        'Davis Cup EUR PR: ISR vs AUT', 'Davis Cup EUR PR: HUN vs BEL',
        'Davis Cup EUR PR: BEL vs IRL', 'Davis Cup SAM PR: BOL vs BRA',
        'Davis Cup SAM PR: BRA vs URU', 'Davis Cup AME PR: MEX vs CAN',
        'Davis Cup AME PR: CAR vs VEN', 'Davis Cup G1 F: CHI vs USA',
        'Davis Cup EUR SF: MEX vs COL', 'Davis Cup AME PR: COL vs VEN',
        'Davis Cup EUR PR: GRE vs DEN', 'Davis Cup SAM PR: ECU vs PER',
        'Davis Cup EUR PR: EGY vs POR', 'Davis Cup EUR SF: SWE vs ESP',
        'Davis Cup EUR PR: FIN vs MAR', 'Davis Cup EUR SF: FRA vs GBR',
        'Davis Cup EUR PR: MON vs GBR', 'Davis Cup EUR F: GBR vs TCH',
        'Davis Cup WG F: USA vs GBR', 'Davis Cup EUR QF: HUN vs FRG',
        'Davis Cup EUR PR: SUI vs FRG', 'Davis Cup EUR SF: HUN vs ITA',
        'Davis Cup EUR F: SWE vs HUN', 'Davis Cup G1 QF: IND vs INA',
        'Davis Cup G1 PR: INA vs TPE', 'Davis Cup EUR SF: IND vs NZL',
        'Davis Cup EUR PR: POL vs IRI', 'Davis Cup EUR PR: SUI vs IRI',
        'Davis Cup EUR PQ: TUR vs IRI', 'Davis Cup EUR PR: IRL vs SWE',
        'Davis Cup EUR QF: JPN vs PAK', 'Davis Cup WG PQ: PAK vs KOR',
        'Davis Cup EUR PR: MAR vs YUG', 'Davis Cup EUR PR: MON vs URS',
        'Davis Cup EUR PR: NED vs NOR', 'Davis Cup EUR PR: TCH vs NED',
        'Davis Cup EUR QF: TCH vs POL', 'Davis Cup EUR SF: TCH vs ROU',
        'Davis Cup AME F: USA vs RSA', 'Davis Cup WG SF: SWE vs USA',
        'Davis Cup EUR QF: YUG vs SWE'], dtype=object),
 141)

In [18]:
df_a['winner_id'].unique(), len(df_a['winner_id'].unique())

(array([100437, 100055, 100436, 100255, 100342, 100067, 100280, 100309,
        100119, 100276, 100272, 100232, 100229, 100362, 100244, 100261,
        100284, 100160, 100281, 100314, 100388, 100228, 100058, 100288,
        100158, 100298, 100082, 109871, 100287, 100148, 100129, 100266,
        100161, 100300, 100199, 100062, 100274, 100083, 100282, 100283,
        100091, 100377, 100600, 100533, 100676, 100354, 100315, 100128,
        100173, 100035, 108349, 100203, 100116, 100430, 100100, 100337,
        100219, 100273, 100109, 100380, 100146, 106453, 100316, 100257,
        100376, 100141, 100345, 100227, 100214, 100279, 100332, 100403,
        100530, 100319, 100346, 100130, 100137, 100171, 100543, 100176,
        100088, 100056, 100417, 100456, 100428, 100231, 100147, 100114,
        100250, 100526, 100326, 100087, 100238, 100344, 100235, 100270,
        100258, 100210, 100150, 100321, 100215, 108131, 100297, 107215,
        100221, 100453, 100395, 100249, 100444, 100555, 100474, 100240,
        100286, 100200, 100185, 100363, 100434, 100177, 100331, 100220,
        100325, 100037, 100259, 100179, 100233, 108453, 100411, 100374,
        110207, 100667, 109771, 100536, 100118, 107009, 100115, 100113,
        100174, 100477, 100394, 100486, 100271, 100243, 100367, 100360,
        100105, 100084, 100121, 100359, 100579, 100253, 100285, 100162,
        100090, 100343, 100461, 100581, 100236, 100339, 100586, 100429,
        107015, 100449, 100442, 100247, 100211, 100186, 100265, 100040,
        100028, 100226, 100208, 130938, 100178, 100631, 100252, 100074,
        100047, 100364, 106629, 100098, 100450, 100292, 100551, 108533,
        108053, 100086, 100080, 100498, 100372, 100327, 100585, 100387,
        100452, 100407, 100017, 100638, 100127, 100201, 100016, 100397,
        100073, 100532, 100656, 106651, 100752, 100492, 100446, 100126,
        100605, 100207, 100382, 100525, 107000, 100443, 100523, 100406,
        100410, 100402, 100144, 100356, 100152, 100516, 100468, 100289,
        100405, 100198, 100383, 100322, 109814, 106899, 100163, 100060,
        100599, 100358, 100422, 100700, 100564, 100293, 100155, 100313,
        100445, 100175, 100506, 100294, 100117, 100545, 100181, 106641,
        107357, 100451, 100421, 100592, 107284, 100378, 100135, 100640,
        100197, 107279, 107302, 100412, 100529, 100557, 100081, 202695,
        100392, 100092, 109723, 100400, 100204, 110344, 100469, 100500,
        100029, 100142, 108377, 100652, 100494, 100136, 107374, 107895,
        100184, 110919, 100653, 100727, 110935, 108356, 100796, 107744,
        109881, 107473, 100431, 111017, 110353, 110999, 110987, 100206,
        111044, 125738, 106900, 108580, 111107, 106615, 107968],
       dtype=int64),
 303)

In [20]:
df_a['winner_name'].nunique()

302

In [19]:
df_a['winner_name'].unique(), len(df_a['winner_name'].unique())

(array(['Bjorn Borg', 'Cliff Drysdale', 'Nick Saviano', 'Roscoe Tanner',
        'Vitas Gerulaitis', 'Frew Mcmillan', 'Wojtek Fibak',
        'Raul Ramirez', 'Ilie Nastase', 'Terry Moor', 'Sandy Mayer',
        'Eddie Dibbs', 'Dick Stockton', 'Peter Fleming', 'John Alexander',
        'Brian Gottfried', 'Jimmy Connors', 'Georges Goven', 'Sashi Menon',
        'Bernard Fritz', 'Peter Pearson', 'Kjell Johansson',
        'Roger Taylor', 'Tenny Svensson', 'John Bartlett', 'George Hardie',
        'Roger Dowdeswell', 'Harry Fritz', 'Robin Drysdale',
        'Ismail El Shafei', 'Jean Baptiste Chanfreau', 'John Feaver',
        'Jurgen Fassbender', 'Jose Higueras', 'Patrice Dominguez',
        'Francois Jauffret', 'Eric Deblicker', 'Nicola Spear',
        'Guillermo Vilas', 'Andre Zietsmann', 'Colin Dibley',
        'Colin Dowdeswell', 'Pascal Portes', 'Paul Avis', 'Yannick Noah',
        'Bernard Mitton', 'Hank Pfister', 'Cliff Richey',
        'Andrew Pattison', 'Ion Tiriac', 'Takehiko Nishiwaki', 'Phil Dent',
        'Sherwood Stewart', 'David Carter', 'Tony Roche', 'Mark Edmondson',
        'Geoff Masters', 'Kim Warwick', 'Jun Kuki', 'Butch Walts',
        'Jun Kamiwazumi', 'Akinori Naguro', 'Scott Carnahan', 'Ross Case',
        'Buster C Mottram', 'Zeljko Franulovic', 'Pat Dupre',
        'Alvin Gardiner', 'Adriano Panatta', 'Mike Cahill',
        'Balazs Taroczy', 'Rolf Gehring', 'Andreas Maurer', 'Rick Fagel',
        'Paul Kronk', 'Vladimir Zednik', 'Hans Jurgen Pohmann',
        'John Yuill', 'Peter Elter', 'Hans Kary', 'Patricio Cornejo',
        'Harald Elschenbroich', 'Hans Gildemeister', 'Ferdi Taygan',
        'Gene Mayer', 'Erik Van Dillen', 'Marcello Lara', 'Ray Ruffels',
        'Woody Blocher', 'Ricardo Ycaza', 'Russell Simpson',
        'John Newcombe', 'Rick Fisher', 'Eric Friedler', 'Antonio Munoz',
        'Anand Amritraj', 'Jorge Andrew', 'Steve Docherty', 'Lito Alvarez',
        'Vijay Amritraj', 'Fred Mcnair', 'Roberto Chavez',
        'Corrado Barazzutti', 'Hugo Varela', 'Carlos Kirmayr',
        'Jose Luis Damiani', 'Victor Pecci', 'Paolo Bertolucci',
        'Werner Zirngibl', 'Jose Luis Clerc', 'Chris Lewis', 'Joao Soares',
        'Harold Solomon', 'Antonio Zugarelli', 'Patrick Proisy',
        'Jiri Granat', 'Tomas Smid', 'Pavel Hutka', 'Jean Louis Haillet',
        'Jiri Hrebec', 'Ulrich Pinner', 'Nikola Pilic', 'Peter Feigl',
        'Karl Meiler', 'Ricardo Cano', 'Ulf Eriksson', 'Pavel Slozil',
        'Javier Soler', 'L Maeso', 'Per Hjertquist', 'Jairo Velasco',
        'Fernando Luna', 'Ivan Molina', 'Fernando Vasquez', 'Jaime Fillol',
        'Jan Kodes', 'Manuel Orantes', 'Gianni Ocleppo', 'Angel Gimenez',
        'Christophe Roger Vasselin', 'Jean Francois Caujolle',
        'Steve Krulevitz', 'Belus Prajoux', 'Brian Teacher', 'Allan Stone',
        'Tom Okker', 'Raymond Moore', 'Richard Lewis', 'Heinz Gunthardt',
        'Tom Gullikson', 'Rod Frawley', 'Brian Fairlie', 'Dick Crealy',
        'John Lloyd', 'Billy Martin', 'John McEnroe', 'John James',
        'Victor Amaya', 'Eliot Teltscher', 'Miguel Mir',
        'Flavio Mazzocchi', 'Stanislav Birner', 'Gianni Marchetti',
        'Rolf Thung', 'Louk Sanders', 'Jeff Borowiak', 'Cliff Letcher',
        'Bob Hewitt', 'Manuel Santana', 'Mike Machette',
        'Dick R Bohrnstedt', 'John Austin', 'Bob Giltinan', 'Tim Wilkison',
        'Tim Gullikson', 'Arthur Ashe', 'Bob Carmichael', 'Jonathan Smith',
        'Birger Andersson', 'Ove Nils Bengtson', 'Leo Palin',
        'Alvaro Fillol', 'Brad Drewett', 'Wouter Fok', 'Ray Kelly',
        'Frantisek Pala', 'Szabolcz Baranyi', 'Klaus Eberhard',
        'Trey Waltke', 'Willem Prinsloo', 'Van Winitsky', 'Jiri Prucha',
        'Bill Scanlon', 'Dale Collings', 'Mal Anderson', 'David Mustard',
        'Tom Gorman', 'Syd Ball', 'Ken Rosewall', 'Terry Rocavert',
        'Mark Cox', 'Johan Kriek', 'Ivan Lendl', 'Brad Rowe',
        'Ramesh Krishnan', 'John Sadri', 'Stan Smith', 'Charlie Fancutt',
        'Noel Phillips', 'Chris Kachel', 'Gilles Moretton',
        'Fernando Dalla Fontana', 'Christophe Freyss', 'Erick Iskersky',
        'Greg Halder', 'Tim Garcia', 'Francisco Gonzalez', 'Robert Lutz',
        'Paul Mcnamee', 'David Lloyd', 'Andrew Jarrett', 'Dominique Bedel',
        'Byron Bertram', 'Fernando Maynetto', 'Alvaro Betancur',
        'Peter Mcnamara', 'Emilio Montano', 'Donald Dell', 'Douglas Palm',
        'Tom Leonard', 'Marty Riessen', 'Bernard Boileau', 'Mike Fishbach',
        'Bruce Manson', 'Heinz Gildemeister', 'Cary Stansbury',
        'John Marks', 'Ramiro Benavides', 'Keith Richardson',
        'Steve Denton', 'Zan Guerry', 'Howard Schoenfield',
        'Rejean Genois', 'Butch Seewagen', 'Deon Joubert',
        'Larry Turville', 'Bobby Webb', 'Joe Meyers', 'Tony Graham',
        'Jan Norback', 'Robert Vant Hof', 'Janos Benyik',
        'David Schneider', 'Onny Parun', 'Stefan Simonsson',
        'Alejandro Pierola', 'Jan Simbera', 'Jay Royappa', 'Bruce Nichols',
        'Kevin Curren', 'Jai Dilouie', 'Charlie Pasarell',
        'Igor Tihonenko', 'Richard Meyer', 'Alex Metreveli',
        'Richard Laver', 'Hubertus Hoyt', 'Pancho Walthall', 'B Newman',
        'Ashok Amritraj', 'Rohun Beven', 'Rod Laver', 'Peter Szoke',
        'Thierry Stevaux', 'Cassio Motta', 'John Picken', 'Humphrey Hose',
        'John Antonas', 'Orlando Agudelo', 'Lars Elvstrom',
        'Finn Christensen', 'Andres Gomez', 'Raul Antonio Viver',
        'Abdel Gawad Mohammed', 'Tarek El Sakka', 'Ahmed El Mehelmy',
        'Matti Timonen', 'Atet Wijono', 'Justedjo Tarik',
        'Mansour Bahrami', 'Czeslaw Dobrowolski', 'Moharram Ali Khodai',
        'Hussain Akbari', 'Saeed Meer', 'Kenichi Hirai', 'Bong Suk Kim',
        'Nadir Ali Khan', 'Dragan Savic', 'Zoltan Ilin',
        'Teimuraz Kakulia', 'Bernard Balleret', 'Per Hegna'], dtype=object),
 302)

In [28]:
df_p.columns

Index(['player_id', 'name_first', 'name_last', 'hand', 'dob', 'ioc', 'height',
       'wikidata_id'],
      dtype='object')

In [52]:
df_p[df_p['player_id'] == 100437]

     player_id name_first name_last hand       dob  ioc  height wikidata_id
436     100437      Bjorn      Borg    R  19560606  SWE   180.0     Q104506

In [51]:
df_a[df_a['winner_id'] == 100437]['winner_name']

0       Bjorn Borg
16      Bjorn Borg
24      Bjorn Borg
28      Bjorn Borg
30      Bjorn Borg
           ...
3854    Bjorn Borg
3891    Bjorn Borg
3894    Bjorn Borg
3896    Bjorn Borg
3898    Bjorn Borg
Name: winner_name, Length: 79, dtype: object

### Combine all Challengers data

In [57]:
path = os.listdir('./data/challengers/') # getting path
df_cha_all = pd.DataFrame(list())
df_cha_all.to_csv('./data/challengers/all.csv') # create an empty csv

for i in path:
    if i != 'all.csv': # make sure it does not loop back to All.csv
        df_cha_all = pd.read_csv('./data/challengers/all.csv')
        df_cha_temp = pd.read_csv('./data/challengers/'+i)
        pd.concat([df_cha_all, df_cha_temp]).to_csv('./data/challengers/all.csv', index=False) # concat to All.csv

In [58]:
df_cha_all = pd.read_csv('./data/challengers/all.csv')
df_cha_all.head(1)

C:\Users\Henry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,NaN,1978-301,Auckland CH,Hard,32.0,C,19780108.0,270.0,100373.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,232.0,NaN,NaN,NaN

===

In [60]:
### Combine all pro tour data

In [61]:
path = os.listdir('./data/atp/') # getting path
df_atp_all = pd.DataFrame(list())
df_atp_all.to_csv('./data/atp/all.csv') # create an empty csv

for i in path:
    if i != 'all.csv': # make sure it does not loop back to All.csv
        df_atp_all = pd.read_csv('./data/atp/all.csv')
        df_atp_temp = pd.read_csv('./data/atp/'+i)
        pd.concat([df_atp_all, df_atp_temp]).to_csv('./data/atp/all.csv', index=False) # concat to All.csv

C:\Users\Henry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [62]:
df_atp_all = pd.read_csv('./data/atp/all.csv')
df_atp_all.head(1)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,NaN,1968-2029,Dublin,Grass,32.0,A,19680708.0,270.0,202866.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df_atp_all.columns

Index(['Unnamed: 0', 'tourney_id', 'tourney_name', 'surface', 'draw_size',
       'tourney_level', 'tourney_date', 'match_num', 'winner_id',
       'winner_seed', 'winner_entry', 'winner_name', 'winner_hand',
       'winner_ht', 'winner_ioc', 'winner_age', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank',
       'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [75]:
df_atp_all.isnull().sum()

Unnamed: 0            180291
tourney_id                 0
tourney_name               0
surface                 2637
draw_size                  0
tourney_level              0
tourney_date               0
match_num                  0
winner_id                  0
winner_seed           111831
winner_entry          164566
winner_name                0
winner_hand               60
winner_ht              18757
winner_ioc                 8
winner_age              1976
loser_id                   0
loser_seed            145667
loser_entry           153476
loser_name                 0
loser_hand               141
loser_ht               31086
loser_ioc                 55
loser_age               5725
score                     11
best_of                    0
round                      0
minutes                93433
w_ace                  90830
w_df                   90830
w_svpt                 90830
w_1stIn                90830
w_1stWon               90830
w_2ndWon               90830
w_SvGms                90829
w_bpSaved              90830
w_bpFaced              90830
l_ace                  90830
l_df                   90830
l_svpt                 90830
l_1stIn                90830
l_1stWon               90830
l_2ndWon               90830
l_SvGms                90829
l_bpSaved              90830
l_bpFaced              90830
winner_rank            33672
winner_rank_points     77263
loser_rank             41914
loser_rank_points      78815
dtype: int64

In [65]:
df = df_atp_all

In [72]:
cols = ['w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced']

def chk_df(l, funct, opr):
# this function will get any list, and function and operation
# then create Bitwise Operators for within the list
    a = ''
    for x in range(len(l)):
        if x == len(l)-1:
            a = (a + f'df[\'{l[x]}\'].{funct}')
        else:
            a = (a + f'df[\'{l[x]}\'].{funct} {opr} ')

    a = f'df[{a}]'
    print(a)

chk_df(cols, 'isnull()', '|')

df[df['w_ace'].isnull() | df['w_df'].isnull() | df['w_svpt'].isnull() | df['w_1stIn'].isnull() | df['w_1stWon'].isnull() | df['w_2ndWon'].isnull() | df['w_SvGms'].isnull() | df['w_bpSaved'].isnull() | df['w_bpFaced'].isnull() | df['l_ace'].isnull() | df['l_df'].isnull() | df['l_svpt'].isnull() | df['l_1stIn'].isnull() | df['l_1stWon'].isnull() | df['l_2ndWon'].isnull() | df['l_SvGms'].isnull() | df['l_bpSaved'].isnull() | df['l_bpFaced'].isnull()]

In [73]:
df[df['w_ace'].isnull() | df['w_df'].isnull() | df['w_svpt'].isnull() | df['w_1stIn'].isnull() | df['w_1stWon'].isnull() | df['w_2ndWon'].isnull() | df['w_SvGms'].isnull() | df['w_bpSaved'].isnull() | df['w_bpFaced'].isnull() | df['l_ace'].isnull() | df['l_df'].isnull() | df['l_svpt'].isnull() | df['l_1stIn'].isnull() | df['l_1stWon'].isnull() | df['l_2ndWon'].isnull() | df['l_SvGms'].isnull() | df['l_bpSaved'].isnull() | df['l_bpFaced'].isnull()]

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,NaN,1968-2029,Dublin,Grass,32.0,A,19680708.0,270.0,202866.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1968-2029,Dublin,Grass,32.0,A,19680708.0,271.0,126914.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1968-2029,Dublin,Grass,32.0,A,19680708.0,272.0,209523.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1968-2029,Dublin,Grass,32.0,A,19680708.0,273.0,100084.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1968-2029,Dublin,Grass,32.0,A,19680708.0,274.0,100132.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180269,NaN,2021-M-DC-2021-WG2-M-MEX-BUL-01,Davis Cup WG2 R1: MEX vs BUL,Hard,4.0,D,20210305.0,2.0,126204.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,560.0,55.0,382.0,114.0
180270,NaN,2021-M-DC-2021-WG2-M-MEX-BUL-01,Davis Cup WG2 R1: MEX vs BUL,Hard,4.0,D,20210305.0,4.0,126204.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,560.0,55.0,268.0,220.0
180271,NaN,2021-M-DC-2021-WG2-M-POL-ESA-01,Davis Cup WG2 R1: POL vs ESA,Hard,4.0,D,20210305.0,1.0,200390.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,232.0,263.0,457.0,82.0
180272,NaN,2021-M-DC-2021-WG2-M-POL-ESA-01,Davis Cup WG2 R1: POL vs ESA,Hard,4.0,D,20210305.0,2.0,111794.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,111.0,690.0,NaN,NaN
180273,NaN,2021-M-DC-2021-WG2-M-POL-ESA-01,Davis Cup WG2 R1: POL vs ESA,Hard,4.0,D,20210305.0,4.0,105656.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,457.0,82.0,632.0,40.0