In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/challengers/all.csv')

C:\Users\Henry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (9,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [4]:
df['winner_name'] = df['winner_name'].str.strip()

In [5]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1978-301,Auckland CH,Hard,32.0,C,19780108.0,270.0,100373.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,232.0,NaN,NaN,NaN
1,1978-301,Auckland CH,Hard,32.0,C,19780108.0,271.0,109807.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1978-301,Auckland CH,Hard,32.0,C,19780108.0,272.0,109810.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1978-301,Auckland CH,Hard,32.0,C,19780108.0,273.0,100638.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332.0,NaN
4,1978-301,Auckland CH,Hard,32.0,C,19780108.0,274.0,107301.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.0,NaN

In [6]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [7]:
df['tourney_name'].value_counts()

Roland Garros      2464
Australian Open    2352
Wimbledon          2352
US Open            2240
Tampere CH         1295
                   ...
St Petersburg        12
Mallorca             12
Zhuhai               12
San Diego            12
Sardinia             12
Name: tourney_name, Length: 995, dtype: int64

In [8]:
df.drop(columns=['tourney_id','draw_size', 'tourney_level', 'tourney_date', 'winner_seed', 'winner_entry', 'match_num', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'], axis=1, inplace=True)

In [9]:
df_dummies = pd.get_dummies(df, columns=['tourney_name', 'surface'])

In [10]:
df_dummies = df_dummies.sort_values('winner_name')

In [11]:
df_dummies.columns

Index(['winner_id', 'winner_name',
       'tourney_name_ATP Challenger Tour Finals CH', 'tourney_name_Aachen CH',
       'tourney_name_Aarhus CH', 'tourney_name_Acapulco',
       'tourney_name_Acapulco CH', 'tourney_name_Adelaide',
       'tourney_name_Adelaide CH', 'tourney_name_Agadir CH',
       ...
       'tourney_name_Zell Am See CH', 'tourney_name_Zell CH',
       'tourney_name_Zhangjiagang CH', 'tourney_name_Zhuhai',
       'tourney_name_Zhuhai CH', 'tourney_name_s Hertogenbosch',
       'surface_Carpet', 'surface_Clay', 'surface_Grass', 'surface_Hard'],
      dtype='object', length=1001)

In [12]:
df_dummies.columns.unique()

Index(['winner_id', 'winner_name',
       'tourney_name_ATP Challenger Tour Finals CH', 'tourney_name_Aachen CH',
       'tourney_name_Aarhus CH', 'tourney_name_Acapulco',
       'tourney_name_Acapulco CH', 'tourney_name_Adelaide',
       'tourney_name_Adelaide CH', 'tourney_name_Agadir CH',
       ...
       'tourney_name_Zell Am See CH', 'tourney_name_Zell CH',
       'tourney_name_Zhangjiagang CH', 'tourney_name_Zhuhai',
       'tourney_name_Zhuhai CH', 'tourney_name_s Hertogenbosch',
       'surface_Carpet', 'surface_Clay', 'surface_Grass', 'surface_Hard'],
      dtype='object', length=1001)

In [13]:
x = {}
for i in df_dummies.columns:
    if i != 'winner_name' and i != 'winner_id':
        x[i] = ['sum','mean']

df_dummies = df_dummies.groupby('winner_name').agg(x)

In [14]:
df_dummies.head()

                 tourney_name_ATP Challenger Tour Finals CH       \
                                                        sum mean
winner_name
A Aguilar                                                 0  0.0
A Benson                                                  0  0.0
Aaron Addison                                             0  0.0
Aaron Krickstein                                          0  0.0
Abdul Kahar Mim                                           0  0.0

                 tourney_name_Aachen CH      tourney_name_Aarhus CH       \
                                    sum mean                    sum mean
winner_name
A Aguilar                             0  0.0                      0  0.0
A Benson                              0  0.0                      0  0.0
Aaron Addison                         0  0.0                      0  0.0
Aaron Krickstein                      0  0.0                      0  0.0
Abdul Kahar Mim                       0  0.0                      0  0.0

                 tourney_name_Acapulco      tourney_name_Acapulco CH       \
                                   sum mean                      sum mean
winner_name
A Aguilar                            0  0.0                        0  0.0
A Benson                             0  0.0                        0  0.0
Aaron Addison                        0  0.0                        0  0.0
Aaron Krickstein                     0  0.0                        0  0.0
Abdul Kahar Mim                      0  0.0                        0  0.0

                  ... tourney_name_s Hertogenbosch      surface_Carpet       \
                  ...                          sum mean            sum mean
winner_name       ...
A Aguilar         ...                            0  0.0              0  0.0
A Benson          ...                            0  0.0              0  0.0
Aaron Addison     ...                            0  0.0              0  0.0
Aaron Krickstein  ...                            0  0.0              0  0.0
Abdul Kahar Mim   ...                            0  0.0              0  0.0

                 surface_Clay      surface_Grass      surface_Hard
                          sum mean           sum mean          sum mean
winner_name
A Aguilar                 1.0  1.0             0  0.0          0.0  0.0
A Benson                  0.0  0.0             1  1.0          0.0  0.0
Aaron Addison             0.0  0.0             0  0.0          2.0  1.0
Aaron Krickstein          0.0  0.0             0  0.0          1.0  1.0
Abdul Kahar Mim           0.0  0.0             0  0.0          1.0  1.0

[5 rows x 1998 columns]

In [15]:
# split columns name sum/mean, into 2 separate columns

df_final = pd.DataFrame()

for x, y in df_dummies.columns:
    df_final[x+" "+y] = df_dummies[x][y]

C:\Users\Henry\AppData\Local\Temp/ipykernel_101544/2579428663.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[x+" "+y] = df_dummies[x][y]

In [16]:
df_final.columns

Index(['tourney_name_ATP Challenger Tour Finals CH sum',
       'tourney_name_ATP Challenger Tour Finals CH mean',
       'tourney_name_Aachen CH sum', 'tourney_name_Aachen CH mean',
       'tourney_name_Aarhus CH sum', 'tourney_name_Aarhus CH mean',
       'tourney_name_Acapulco sum', 'tourney_name_Acapulco mean',
       'tourney_name_Acapulco CH sum', 'tourney_name_Acapulco CH mean',
       ...
       'tourney_name_s Hertogenbosch sum', 'tourney_name_s Hertogenbosch mean',
       'surface_Carpet sum', 'surface_Carpet mean', 'surface_Clay sum',
       'surface_Clay mean', 'surface_Grass sum', 'surface_Grass mean',
       'surface_Hard sum', 'surface_Hard mean'],
      dtype='object', length=1998)

In [17]:
# rename columns

for c in df_final.columns:
    if 'tourney_name_' in c:
        c2 = c[13:]
        df_final = df_final.rename(columns={c:c2})

In [18]:
df_final.columns

Index(['ATP Challenger Tour Finals CH sum',
       'ATP Challenger Tour Finals CH mean', 'Aachen CH sum', 'Aachen CH mean',
       'Aarhus CH sum', 'Aarhus CH mean', 'Acapulco sum', 'Acapulco mean',
       'Acapulco CH sum', 'Acapulco CH mean',
       ...
       's Hertogenbosch sum', 's Hertogenbosch mean', 'surface_Carpet sum',
       'surface_Carpet mean', 'surface_Clay sum', 'surface_Clay mean',
       'surface_Grass sum', 'surface_Grass mean', 'surface_Hard sum',
       'surface_Hard mean'],
      dtype='object', length=1998)

In [19]:
for x, y in df_dummies.columns:
    total = 0
    avg = 0
    if y == 'sum':
        total += df_dummies[x][y]
    else:
        avg = (df_dummies[x][y]+avg)/2
    
    df_dummies['total_win'] = total
    df_dummies['average_win'] = avg

In [20]:
df_final

,ATP Challenger Tour Finals CH sum,ATP Challenger Tour Finals CH mean,Aachen CH sum,Aachen CH mean,Aarhus CH sum,Aarhus CH mean,Acapulco sum,Acapulco mean,Acapulco CH sum,Acapulco CH mean,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
winner_name,,,,,,,,,,,,,,,,,,,,,
A Aguilar,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,1.0,1.000000,0,0.0,0.0,0.000000
A Benson,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0.0,0.000000,1,1.0,0.0,0.000000
Aaron Addison,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0.0,0.000000,0,0.0,2.0,1.000000
Aaron Krickstein,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0.0,0.000000,0,0.0,1.0,1.000000
Abdul Kahar Mim,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0.0,0.000000,0,0.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoltan Ilin,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,1.0,1.000000,0,0.0,0.0,0.000000
Zoltan Kuharszky,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,25.0,0.781250,0,0.0,7.0,0.218750
Zoran Golubovic,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,1.0,1.000000,0,0.0,0.0,0.000000
Zsolt Tatar,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,2.0,1.000000,0,0.0,0.0,0.000000
Zsombor Piros,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,30.0,0.566038,0,0.0,23.0,0.433962

In [21]:
df_final.to_csv('./data/challengers/win.csv')

In [22]:
df_final = pd.read_csv('./data/challengers/win.csv')

In [23]:
df_final.head()

,winner_name,ATP Challenger Tour Finals CH sum,ATP Challenger Tour Finals CH mean,Aachen CH sum,Aachen CH mean,Aarhus CH sum,Aarhus CH mean,Acapulco sum,Acapulco mean,Acapulco CH sum,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
0,A Aguilar,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,1.0,1.0,0,0.0,0.0,0.0
1,A Benson,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0.0,1,1.0,0.0,0.0
2,Aaron Addison,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0.0,0,0.0,2.0,1.0
3,Aaron Krickstein,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0.0,0,0.0,1.0,1.0
4,Abdul Kahar Mim,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0.0,0.0,0,0.0,1.0,1.0

In [24]:
df_final.shape

(5286, 1999)