In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('./data/atp/all.csv')

C:\Users\Henry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [37]:
df.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [38]:
df['loser_name'] = df['loser_name'].str.strip()

In [39]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32.0,A,19680708.0,270.0,202866.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32.0,A,19680708.0,271.0,126914.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32.0,A,19680708.0,272.0,209523.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32.0,A,19680708.0,273.0,100084.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32.0,A,19680708.0,274.0,100132.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df['tourney_name'].value_counts()

Roland Garros                      6810
Wimbledon                          6731
US Open                            6553
Australian Open                    5542
Barcelona                          3034
                                   ...
Davis Cup G2 PR: JPN vs KOR           2
Davis Cup WG PR: JPN vs VIE           2
Davis Cup Finals QF: SRB vs RUS       2
Davis Cup Finals SF: RUS vs CAN       2
Davis Cup Finals QF: ARG vs ESP       2
Name: tourney_name, Length: 3832, dtype: int64

In [41]:
df['tourney_name'].str.startswith('Davis').value_counts()

False    166204
True      14087
Name: tourney_name, dtype: int64

In [42]:
df[df['tourney_name'].str.contains('Davis')==False]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32.0,A,19680708.0,270.0,202866.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32.0,A,19680708.0,271.0,126914.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32.0,A,19680708.0,272.0,209523.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32.0,A,19680708.0,273.0,100084.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32.0,A,19680708.0,274.0,100132.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180171,2021-0605,Tour Finals,Hard,8.0,F,20211115.0,290.0,106421.0,2.0,NaN,...,64.0,46.0,20.0,15.0,6.0,11.0,2.0,7640.0,11.0,3150.0
180172,2021-0605,Tour Finals,Hard,8.0,F,20211115.0,289.0,106421.0,2.0,NaN,...,58.0,46.0,15.0,15.0,2.0,4.0,2.0,7640.0,9.0,3706.0
180173,2021-0605,Tour Finals,Hard,8.0,F,20211115.0,288.0,100644.0,3.0,NaN,...,47.0,33.0,8.0,6.0,5.0,5.0,3.0,6540.0,7.0,4568.0
180174,2021-0605,Tour Finals,Hard,8.0,F,20211115.0,287.0,100644.0,3.0,NaN,...,35.0,22.0,8.0,9.0,4.0,7.0,3.0,6540.0,9.0,3706.0
180175,2021-0605,Tour Finals,Hard,8.0,F,20211115.0,286.0,206173.0,9.0,NaN,...,31.0,18.0,5.0,8.0,2.0,6.0,11.0,3150.0,9.0,3706.0

In [43]:
df = df[df['tourney_name'].str.contains('Davis')==False]

In [44]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [45]:
df.drop(columns=['tourney_id','draw_size', 'tourney_level', 'tourney_date', 'winner_seed', 'winner_entry', 'match_num', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'winner_id', 'winner_name', 'loser_seed', 'loser_entry', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'], axis=1, inplace=True)

In [46]:
df_dummies = pd.get_dummies(df, columns=['tourney_name', 'surface'])

In [47]:
df_dummies = df_dummies.sort_values('loser_name')

In [48]:
df_dummies.head()

,loser_id,loser_name,tourney_name_Acapulco,tourney_name_Adelaide,tourney_name_Adelaide-2,tourney_name_Aix en Provence,tourney_name_Alamo WCT,tourney_name_Albany,tourney_name_Algiers,tourney_name_Amersfoort,...,tourney_name_Zaragoza,tourney_name_Zell Am See WCT,tourney_name_Zhuhai,tourney_name_Zurich,tourney_name_Zurich WCT,tourney_name_s Hertogenbosch,surface_Carpet,surface_Clay,surface_Grass,surface_Hard
21140,110444.0,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1377,209548.0,A D'Orsongna,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
41132,109866.0,A Difrancesco,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29454,110422.0,A El Ghani,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19873,209829.0,A Ferguson,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [49]:
df_dummies.columns

Index(['loser_id', 'loser_name', 'tourney_name_Acapulco',
       'tourney_name_Adelaide', 'tourney_name_Adelaide-2',
       'tourney_name_Aix en Provence', 'tourney_name_Alamo WCT',
       'tourney_name_Albany', 'tourney_name_Algiers',
       'tourney_name_Amersfoort',
       ...
       'tourney_name_Zaragoza', 'tourney_name_Zell Am See WCT',
       'tourney_name_Zhuhai', 'tourney_name_Zurich', 'tourney_name_Zurich WCT',
       'tourney_name_s Hertogenbosch', 'surface_Carpet', 'surface_Clay',
       'surface_Grass', 'surface_Hard'],
      dtype='object', length=454)

In [50]:
x = {}
for i in df_dummies.columns:
    if i != 'loser_name' and i != 'loser_id':
        x[i] = ['sum','mean']

df_dummies = df_dummies.groupby('loser_name').agg(x)

In [51]:
df_dummies.head()

              tourney_name_Acapulco      tourney_name_Adelaide       \
                                sum mean                   sum mean
loser_name
                                  0  0.0                     0  0.0
A D'Orsongna                      0  0.0                     0  0.0
A Difrancesco                     0  0.0                     0  0.0
A El Ghani                        0  0.0                     0  0.0
A Ferguson                        0  0.0                     0  0.0

              tourney_name_Adelaide-2      tourney_name_Aix en Provence       \
                                  sum mean                          sum mean
loser_name
                                    0  0.0                            0  0.0
A D'Orsongna                        0  0.0                            0  0.0
A Difrancesco                       0  0.0                            0  0.0
A El Ghani                          0  0.0                            0  0.0
A Ferguson                          0  0.0                            0  0.0

              tourney_name_Alamo WCT       ... tourney_name_s Hertogenbosch  \
                                 sum mean  ...                          sum
loser_name                                 ...
                                   0  0.0  ...                            0
A D'Orsongna                       0  0.0  ...                            0
A Difrancesco                      0  0.0  ...                            0
A El Ghani                         0  0.0  ...                            0
A Ferguson                         0  0.0  ...                            0

                   surface_Carpet      surface_Clay      surface_Grass       \
              mean            sum mean          sum mean           sum mean
loser_name
               0.0              0  0.0            0  0.0             0  0.0
A D'Orsongna   0.0              0  0.0            0  0.0             1  1.0
A Difrancesco  0.0              0  0.0            0  0.0             1  1.0
A El Ghani     0.0              0  0.0            1  1.0             0  0.0
A Ferguson     0.0              0  0.0            0  0.0             1  1.0

              surface_Hard
                       sum mean
loser_name
                       0.0  0.0
A D'Orsongna           0.0  0.0
A Difrancesco          0.0  0.0
A El Ghani             0.0  0.0
A Ferguson             0.0  0.0

[5 rows x 904 columns]

In [52]:
df_dummies.drop(index='', inplace=True)

In [53]:
# split columns name sum/mean, into 2 separate columns

df_final = pd.DataFrame()

for x, y in df_dummies.columns:
    df_final[x+" "+y] = df_dummies[x][y]

C:\Users\Henry\AppData\Local\Temp/ipykernel_154660/2579428663.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[x+" "+y] = df_dummies[x][y]

In [54]:
df_final.columns

Index(['tourney_name_Acapulco sum', 'tourney_name_Acapulco mean',
       'tourney_name_Adelaide sum', 'tourney_name_Adelaide mean',
       'tourney_name_Adelaide-2 sum', 'tourney_name_Adelaide-2 mean',
       'tourney_name_Aix en Provence sum', 'tourney_name_Aix en Provence mean',
       'tourney_name_Alamo WCT sum', 'tourney_name_Alamo WCT mean',
       ...
       'tourney_name_s Hertogenbosch sum', 'tourney_name_s Hertogenbosch mean',
       'surface_Carpet sum', 'surface_Carpet mean', 'surface_Clay sum',
       'surface_Clay mean', 'surface_Grass sum', 'surface_Grass mean',
       'surface_Hard sum', 'surface_Hard mean'],
      dtype='object', length=904)

In [55]:
# rename columns

for c in df_final.columns:
    if 'tourney_name_' in c:
        c2 = c[13:]
        df_final = df_final.rename(columns={c:c2})

In [56]:
df_final.columns

Index(['Acapulco sum', 'Acapulco mean', 'Adelaide sum', 'Adelaide mean',
       'Adelaide-2 sum', 'Adelaide-2 mean', 'Aix en Provence sum',
       'Aix en Provence mean', 'Alamo WCT sum', 'Alamo WCT mean',
       ...
       's Hertogenbosch sum', 's Hertogenbosch mean', 'surface_Carpet sum',
       'surface_Carpet mean', 'surface_Clay sum', 'surface_Clay mean',
       'surface_Grass sum', 'surface_Grass mean', 'surface_Hard sum',
       'surface_Hard mean'],
      dtype='object', length=904)

In [57]:
for x, y in df_dummies.columns:
    total = 0
    avg = 0
    if y == 'sum':
        total += df_dummies[x][y]
    else:
        avg = (df_dummies[x][y]+avg)/2
    
    df_dummies['total_win'] = total
    df_dummies['average_win'] = avg

In [58]:
df_final

,Acapulco sum,Acapulco mean,Adelaide sum,Adelaide mean,Adelaide-2 sum,Adelaide-2 mean,Aix en Provence sum,Aix en Provence mean,Alamo WCT sum,Alamo WCT mean,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
loser_name,,,,,,,,,,,,,,,,,,,,,
A D'Orsongna,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,0,0.000000,1,1.000000,0.0,0.000000
A Difrancesco,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,0,0.000000,1,1.000000,0.0,0.000000
A El Ghani,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,1,1.000000,0,0.000000,0.0,0.000000
A Ferguson,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,0,0.000000,1,1.000000,0.0,0.000000
A Fine,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,0,0.000000,1,1.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zizou Bergs,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,1,0.333333,0,0.000000,2.0,0.666667
Zlatko Ivancic,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,9,1.000000,0,0.000000,0.0,0.000000
Zoltan Ilin,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,4,1.000000,0,0.000000,0.0,0.000000
Zoltan Kuharszky,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,9,0.125,44,0.611111,5,0.069444,14.0,0.194444
Zsombor Piros,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,...,0,0.0,0,0.000,1,1.000000,0,0.000000,0.0,0.000000

In [60]:
df_final.to_csv('./data/atp/lost.csv')

In [61]:
df_final = pd.read_csv('./data/atp/lost.csv')

In [62]:
df_final.head()

,loser_name,Acapulco sum,Acapulco mean,Adelaide sum,Adelaide mean,Adelaide-2 sum,Adelaide-2 mean,Aix en Provence sum,Aix en Provence mean,Alamo WCT sum,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
0,A D'Orsongna,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,1,1.0,0.0,0.0
1,A Difrancesco,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,1,1.0,0.0,0.0
2,A El Ghani,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,1,1.0,0,0.0,0.0,0.0
3,A Ferguson,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,1,1.0,0.0,0.0
4,A Fine,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,1,1.0,0.0,0.0

In [63]:
df_final.shape

(4839, 905)